section {
  padding: 1rem 0.5rem;
}

img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-item:hover {
  transform: translate(1px, 1px);
}

.card:hover {
  transform: translate(-2px, -2px);
  transition-duration: 500ms;
}
